{% extends 'registration/base.html' %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="form-block login-form">
    <form method="post" class="form-horizontal" role="form">
        <legend>Восстановление пароля</legend>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.html_name }}" class="col-sm-6 col-md-6 control-label">{{ field.label }}</label>
                <div class="col-sm-6 col-md-6">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-7 col-sm-5">
                <button type="submit" class="btn btn-primary btn-block">Отправить</button>
            </div>
        </div>
    </form>
{% endblock %}